body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}

.container{
  
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
  
    
 }

 .primary-button{
    background-color: #ff42a5;
    border-radius: 50px;
    border: 0;
    border-color: #ff42a5;
    padding: 15px 35px;
    font-size: 14px;
    font-weight: 500;
    color:#ffffff;
    margin-right: 12px;
 }

 .secondary-button{
    background-color: #4EC5F7;
    border-radius: 50px;
    border: 0;
    border-color: #ff42a5;
    padding: 15px 35px;
    font-size: 14px;
    font-weight: 500;
    color:#ffffff;
 }

 .follow{
    background-color: #e5e5e5;
    padding: 5px 15px;
    border-radius: 5px;
 }


 .banner-icon-title{
font-weight: 500;
font-size: 16px;
color: #534C64;
}

.banner-icon-title-last{
    font-weight: 500;
    font-size: 16px;
    color: #534C64;
    padding-bottom: 15px;
}



.banner-title{
    font-size:48px;
    color: #0B0223;
    font-weight: 600;
    text-transform: uppercase;
    }

.banner-subtitle{
    font-size: 95px;
    color: #F9487D;
    font-weight: 700; 
}

.style-g{
    color: #ff42a5;
}

main{
    background-color: #fbf7fd;
}

.header{
   padding-top: 20px;
   padding-bottom: 21px;
    

}

.logo-area img{
    height: 35px;
}

.logo-area{
    display: flex;
    align-items: center;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu nav ul li{
    
    display: inline-block;

}
a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu nav ul li{
    
    margin-left: 35px;
}

.logo-area{
    display: flex;
    align-items: center;
}


.logo-area a{
    font-size: 45px;
    font-weight: 700;
    
}

.main-menu nav ul li a{
    font-size: 18px;
    color: #3C354F;
}

.gamer{
    color:black;
}



.banner-section-right img{
    width: 619px;
    height: 560px;
}

.banner-title, .banner-subtitle{
    margin: 0;
    padding: 0;
}
.banner-title{
    font-size: 48px;
}

.banner-subtitle{
    font-size: 95px;
}


.online-games-title, .online-games-description{
    text-align: center;
}

.online-games-title{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0;

}

.online-games-description{
    margin-top: 0;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #534C64;
    padding-bottom: 30px;
}


.online-games-image{
    display: flex;
    justify-content: space-between;

}

.online-games-section{
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.funny-title{
    color:#F948B2;
}

.online-games-section{
    padding-top: 40px;
}

.games-image img{
    width: 275px;
   
    height: 284px; 
}

.games-image-description{
    width: 275px;
    line-height: 25px;
}

.play-instant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}

.play-instant-right img{
    width:380px;
    height: 325px;
   
}

.extra-img{
    width:218px;
    height:265px;
    margin-left:680px;
    margin-top:-150px;
    
}

.play{
    margin-top: 50px;
}

.play-instant-left{
    margin-left: auto;
    margin-right: auto;
}
.play-instant-right{
    margin-left: auto;
    margin-right: auto;
}


.play-instant-left-title{
    text-align: center;
    color: #F948B2;
    font-size: 36px;
    margin: 0;
}

.play-instant-left-middle-title{
    text-align: center;
    color: #0B0223;
    font-size: 36px;
    margin: 0;
}

.play-instant-left-last-title{
    text-align: right;
    color: #0B0223;
    font-size: 36px;
    margin: 0;
}


.footer{
    background-color: #0B0223;
    padding-bottom: 90px;
}
.footer-logo-area{
    display: flex;
    justify-content: center;
    padding-top: 90px;
    align-items: center;
}

.footer-logo-area a{
    font-size: 36px;
    font-weight: 700;
}

.footer-logo-area img{
    height: 32px;
}

.f-gamer{
    color: #ffffff;
}
.footer-menu{
    text-align: center;
    padding-top: 35px;


}
.footer-important-menu{
    text-align: center;
    padding-top: 30px;

}

.footer-menu a{
    margin-right: 35px;
    font-size: 14px;
    font-weight: 500;
    color:#ffffff;
}
.footer-important-menu a{
    margin-right: 35px;
    font-size: 12px;
    font-weight: 500;
    color:#ffffff;
}

.footer-copyright{
    text-align: center;
    padding-top: 5px;
    margin-top: 0;
}
.footer-copyright p{
    color:#ffffff;
    font-size: 12px;
    
}


.social-icon{
    text-align: center;
    padding-top: 35px;
}


/* responsive style */

@media screen and (max-width:576px){
    .row{
        flex-direction: column;
    }

    .online-games-image{
        flex-direction: column;
        justify-content: center;
    }

    .games-image{
        text-align: center;
    }
    .games-image img{
        width:360px;
        height:330px;
    }
    .games-image p{
        width: 100%;
        text-align: center;
    }

    .main-menu nav ul li{
        display: block;
        text-align: center;
        margin-top: 10px;
        
        
        
    }

    .col-3{
        padding-bottom: 10px;
    }
    .follow{
        margin-top: 40px;
    }

    .banner-row{
        flex-direction: column-reverse;
    }

    main{
        background-color: #ffffff;
    }
    .logo-area a{
        text-align: center;
    }

    .banner-section-left{
        margin-top: 30px;
        background-color: #fdf7fd;
        width: 70%;
        text-align: center;
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .banner-section-right{
        margin-top: 30px;
    }

    .footer{
        width: 300%;
    }


}
